@import url('https://fonts.googleapis.com/css?family=Gilda Display');

html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  color: #ececec;
  font-family: "Gilda Display", serif;
  text-transform: capitalize;
  font-variant: small-caps;
  letter-spacing: 5px;
  word-spacing: 8px;
  background-color: #4b4537;
}

.logo {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}

.inner {
  margin: 0 auto;
  max-width: 1177px;
  margin-bottom: 2rem;
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
  border-radius: 4px;
  padding: 0;
  border: 0;
  font: inherit;
  display: block;
  box-sizing: border-box;
  background-color: #1e1f23;
}

.image-fit {
  display: block;
  width: 100%;
  margin: 0 !important;
  position: relative;
  box-sizing:border-box;
}

.s2 {
  padding-top: 25px;
  padding-left: 100px;
  padding-right: 100px;
}

.s2-header {
  padding: 15px;
  text-align: center;
  background-color: #121315;
}

.s2-header p {
  color: #434446;
}

.s2-header hr {
  border: .5px solid #434446;
  width: 10%;
}

.gallery {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding-left: 100px;
  padding-right: 100px;
}

.column {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
  max-width: 50%;
  
}

.column img {
  vertical-align: middle;
  width: 100%;
}

.textbox {
  font-family: serif;
  background-color: white;
  color: #000000;
  font-size: 12px;
  height: 244.25px;
  word-wrap: break-word;
  text-align: left;
  overflow: hidden;
  box-sizing: border-box;
  padding-left: 75px;
  padding-right: 75px;
  padding-top: 50px;
}